<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <nav class="navigation" id="navbar">
        <div id="logo">
            <img src="/img/logo.png" alt="Amitex Food">
        </div>
        <ul id="navList">
            <li class="navListItem"><a href="/">Home</a></li>
            <li class="navListItem"><a href="/products">Products</a></li>
            <% if(!isAdmin&&isAuthenticated){ %> 
                <li class="navListItem"><a href="/cart" class="active">Cart</a></li>
                <li class="navListItem"><a href="/orders">Your Orders</a></li>
                <li class="navListItem"><a href="/profile">Your Account</a></li>
                <% } %>
            <% if(isAdmin&&isAuthenticated){ %> 
            <li class="navListItem"><a href="/admin-product-list">Admin Products</a></li>
            <li class="navListItem"><a href="/add-product">Add Products</a></li>
            <% } %> 
            

        </ul>
        <div class="authList">
            <ul id="authList">
                <% if(!isAuthenticated){ %> 
                <li class="authListItem"><a href="/login">Login</a></li>
                <li class="authListItem"><a href="/signup">Signup</a></li>
                <% } %> 
                <% if(isAuthenticated){ %> 
                <li class="authListItem"> <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form></li>
                <% } %> 
                <li class="authListItem"><a href="/feedback">Feedback</a></li>
                
            </ul>
        </div>
    </nav>
        <section class="ListItem">
            <% if(products.length>0){ %> 
           <div class="cartItems">
               <form action="/select-address" method="get">
                <button type="submit" class="placeOrderBtn">Proceed</button>
            </form>
            <div class="productList">
                <% products.forEach(p=>{ %> 
                <div class="productListItem">
                    <div id="titleContainer">
                        <h3><%= p.productId.productName %>  </h3>
                    </div>
                    <div class="imageContainer">
                        <img src=<%= p.productId.imageUrl %>  alt="amitex">
                    </div>
                    <div class="quantityContainer">
                        <h3>Quantity : <%= p.quantity %>  </h3>
                    </div>
                    <div class="priceContainer">
                        <h3>Total Price : ₹<%= p.totalPrice %> </h3>
                    </div>
                    <div class="buttonContainer">
                        <div class="quantity">
                            <form action="/reduce-quantity" method="post">
                                <input type="hidden" name="productId" value=<%= p.productId._id %> >
                                <button type="submit">-</button>
                            </form>
                            <form action="/increase-quantity" method="post">
                                <input type="hidden" name="productId" value=<%= p.productId._id %> >
                                <button type="submit">+</button>
                            </form>
                        </div>
                        <form action="/remove-from-cart" method="post">
                            <input type="hidden" name="productId" value=<%= p.productId._id %> >
                            <button type="submit">Remove from Cart</button>
                        </form>

                    </div>
                    
                </div>
                <% }) %> 
                
            </div>
           </div>
           <% }else{ %>
            <h3 id="noItems">No items in the Cart!!</h3> 
            <% } %> 

        </section>
</body>
</html>