<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/orders.css">
</head>
<body>
    <nav class="navigation" id="navbar">
        <div id="logo">
            <img src="/img/logo.png" alt="Amitex Food">
        </div>
        <ul id="navList">
            <li class="navListItem"><a href="/">Home</a></li>
            <li class="navListItem"><a href="/products">Products</a></li>
            <% if(!isAdmin&&isAuthenticated){ %> 
                <li class="navListItem"><a href="/cart">Cart</a></li>
                <li class="navListItem"><a href="/orders" class="active">Your Orders</a></li>
                <li class="navListItem"><a href="/profile">Your Account</a></li>
                <% } %>
            <% if(isAdmin&&isAuthenticated){ %> 
            <li class="navListItem"><a href="/admin-product-list">Admin Products</a></li>
            <li class="navListItem"><a href="/add-product">Add Products</a></li>
            <% } %> 
            
            

        </ul>
        <div class="authList">
            <ul id="authList">
                <% if(!isAuthenticated){ %> 
                <li class="authListItem"><a href="/login">Login</a></li>
                <li class="authListItem"><a href="/signup">Signup</a></li>
                <% } %> 
                <% if(isAuthenticated){ %> 
                <li class="authListItem"> <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form></li>
                <% } %> 
                <li class="authListItem"><a href="/feedback">Feedback</a></li>
                
            </ul>
        </div>
    </nav>
        <section class="ListItem">
            <% if(orders.length>0){ %> 
                <div class="productList">
                    <% orders.forEach(order=>{
                        let netCost=0; %> 
                    <div class="productListItem">
                        <div class="titleID">
                            <h3>OrderID: $<%= order._id %> </h3>
                        </div>
                        <div id="titleContainer">
                            <h3>Order Date: <%= order.date %> </h3>
                        </div>
                        <div class="addressContainer">
                            <h3>Address: <%= order.address %></h3>
                            </div>
                        <div class="quantityContainer">
                            <h3>Order details:
                                <% order.products.forEach(p=>{ 
                                    netCost=netCost+p.totalPrice%> 
                                <div class="productsContainer">
                                    <h4><%= p.quantity %>* ₹<%= p.product.productPrice %> <%= p.product.productName %>  </h4>
                                </div>
                                <% }) %> 
                            </h3>
                        </div>
                        
                        <div class="priceContainer">
                            <h3>Net Total: ₹<%= netCost %></h3>
                        </div>
                        
                    </div>
                    <% }) %> 
                    
                </div>
                <% }else{ %>
                    <h1 id="noItems">You have not made any orders yet!</h1>
                    <% } %>

        </section>
</body>
</html>